$font: "IBM Plex Mono",
monospace;
.container {
    margin-top: 30px;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.text {
    font-family: $font;
}

.image {
    width: 60%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 30px;
}

.profile {
    text-align: center;
    margin-left: 20px;
    font-family: $font;
    h5 {
        background-color: rgb(236, 206, 202);
        margin-bottom: 30px;
        padding: 10px;
    }
    p {
        margin-bottom: 30px;
    }
}