$salmon: #FF8B61;
$coral: #FF9670;
$font: 'IBM Plex Mono', monospace;

@mixin titlesAbout {
    background-color: #FF9670;
    font-size: 18px;

    p {
       margin: 5;
    }
}

@mixin socialIcons {

    font-size: 25px;
    color: white;
    text-align: center;
}

body{
    margin: 0;
    color: gray;
    font-family: "IBM Plex Mono", monospace;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    .h1{
        text-align: center;
        font-family: "Indie Flower", cursive;
        font-size:100px;
        color:#FF7F50;

    }
}

.dropdown {
    display: none;
  }

.nav{
    width: 60%;
    }

ul.list{
     display: flex;
     justify-content: space-around;
    font-family: "IBM Plex Mono", monospace;
    color: grey;
    list-style: none;
          select{
            border: none;
            font-family: "IBM Plex Mono", monospace;
             color: grey;
             li:hover{
                color:#FF7F50;
            }

        }
    }

ul.list{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

a{
    text-decoration: none;
    color: grey;
}
a:hover{
    color:#FF7F50;

}

.container-receta {
    display: flex;
    justify-content: center;
}


.contenido-receta {
    width: 45%;
    font-size: 15px;
    .header-receta {
        h2 {
            padding: 0 2%;
            color: black;
        }
        .header-top {
            display: flex;
            justify-content: space-between;
        }
    }
    .elena {
        border-left: $salmon solid 1px;
        margin: 5% 0;
        padding: 0 4%;
        p {
            color: black;
        }
        span {
            text-transform: uppercase;
        }
    }
}
.icons {
    i {
    padding: 2px;
    span {
        font-family: "IBM Plex Mono", monospace;
        }
    }
}
.ingredientes {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            padding: 1%;
            text-indent: -.7em;
        }
        li::before {
            content: "• ";
            color: $salmon;
        }
    }
}


.main-s1 {
    margin: 100px auto;
}

.section1 {
    width: 80%;
    height: 556px;
    margin: 15px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;


    .video {
        width: 70%;
        height: 100%;
        display: flex;

        iframe {
            width: 98%;
            height: auto;
        }

    }

    .about {
        width: 28%;
        height: 100%;
        font-family: "IBM Plex Mono", monospace;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title {

            @include titlesAbout();

        }

        .profilepic {

            width: 280px;
            height: auto;
            margin: auto;



            img {
                width: 100%;
                border-radius: 50%;

            }

        }

        .name {
            font-size: 20px;
            margin: 0;
        }

        .description {
            color: gray;
            margin: 0;
        }

        .newsletter {
            @include titlesAbout();
        }
    }
}
.videodescr {

    width: 80%;
    margin: auto;

    p {
    margin: 0;
    color: gray;
    font-family: "IBM Plex Mono", monospace;
    }

}
/*home*/
/*receta*/
.container-socialnet {
    width: auto;
    height: 410px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px;

    .container-photo {
        width: 53%;
        height: 100%;

        img {
            width: auto;
            border-radius: 10%;
        }
    }

    .container-icons {
        width: 8%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.icon1 {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #3b5998;
    display: flex;
    align-items: center;
    justify-content: space-around;

    p {
        text-align: center;
    }

    .fa-facebook-f {
        @include socialIcons ();
    }
}

.icon2 {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #55acee;
    display: flex;
    align-items: center;
    justify-content: space-around;

    p {
        text-align: center;
    }

    .fa-twitter {
        @include socialIcons ();

    }
}

.icon3 {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #dd4b39;
    display: flex;
    align-items: center;
    justify-content: space-around;


    p {
        text-align: center;
    }

    .fa-google-plus-g {
        @include socialIcons ();

    }
}

.icon4 {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #8f6247;
    display: flex;
    align-items: center;
    justify-content: space-around;


    p {
        text-align: center;
    }

    .fa-instagram {
        @include socialIcons ();

    }
}

.icon5 {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #cb2027;
    display: flex;
    align-items: center;
    justify-content: space-around;


    p {
        text-align: center;
    }
}


.box {
    display: flex;
    width: 70%;
    font-family: $font;
    font-size: 12px;
    border-top: 1px solid grey;
    margin: auto;

    .nota {
        width: 230px;
        height: 150px;
        border-radius: 50px;
        padding: 20px;
        display: flex;
    }

    .description {
        width:45%;
        padding: 20px;
        color: grey;

        h3 {
            color: black;
            padding: 5px;
        }

        a {
            text-decoration:none;
            color: black;
            background-color: $coral;
            border-radius: 10px;
            display: inline-block;
            padding: 5px 30px;
        }

        .info {
            display: flex;
            justify-content: space-between;
        }
    }
}

.redessociales {
    padding: 10px;
    color: grey;
    font-family: $font;
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
        a {
            text-decoration: none;
            color: gray;
        }
}

.icono-arrow {
    display: none;
}



    .fa-pinterest-p {
        @include socialIcons ();

    }




@media ( max-width: 800px){
    .list{
        display: none;
    }
    .menu-mobile{
        display: block;
        background-color: #FF7F50;
        color: white;
        display: flex;
        flex-direction: column;
        border-radius: 25px;
        width: 90%;
        text-align: center;
        font-family: "IBM Plex Mono", monospace;
        align-items: center;
        position: relative;

            .button-menu{
                border: none;
                background-color: #FF7F50;
                color: white;
                font-size: 20px;
                padding: 20px;




            }
    }

 .menu-options{
     list-style: none;
      display: none;
      border: none;
      left: 25%;
      position: absolute;
            a:hover{
                color:white;
                }
    }

    a:hover{
        color: black;
    }
    .button-menu:hover{
        color: black;
        .menu-options{
            list-style: none;
            display: block;
            background-color: #FF7F50;
            padding-left: 40px;
            padding-right: 40px;
            position: absolute;
            z-index: 1;
            border: none;
            margin: 0;
                a:hover{
                    color:white;
                    }
        }
    }
    .main-menu{
        display: flex;
        flex-direction: column;
    }

    .carousel {
        .img {
            display: none;
            margin: 5% 0;
            &:first-of-type {
                display: block;
            }
        }
        .slider {
            display: none;
        }
    }
    .contenido-receta {
        width: 100%;
        font-size: initial;
        margin: 0 5%;
        .header-receta {
            h2 {
                text-align: center;

            }
        }
        .elena {
            padding: 0 10%;
            margin: 10% 0;
        }
        .ingredientes {
            ul{
                li{
                    text-indent: -.4em;
                }
            }
         }
      }

}




@media (max-width: 800px) {



    p.articulo {
        text-align: center;
    }


    .icono-arrow {
        color: #fa7855;
        bottom: 15px;
        display: inline-block;
            .fa-arrow-circle-up {
                position: absolute;
                z-index: 1;
                text-decoration: none;
                font-size: 30px;
                color:$salmon;
                margin-left: 50%;
            }
    }
}



.menu-mobile{
    display: none;
}


@media ( max-width: 800px){

    .nav{
        display: none;
    }
    .menu-mobile{
        display: block;
        background-color: #FF7F50;
        color: white;
        display: flex;
        flex-direction: column;
        border-radius: 25px;


            .button-menu{
                border: none;
                background-color: #FF7F50;
                color: white;
                font-size: 20px;
                a{
                   font-size: 30px;
                   color: white;
                   }
            }
        }
    }

    .menu-options{
          list-style: none;
               a:hover{
                  color:white;
                  }
       }


    .banner{
        width: 100%;
        height: auto;
    }
    .banner img{
        width: 100%;
        margin-top: 20px;
    }
    .archive{
      color: black;
       flex-direction: column;
       span {
         color: grey;
       }

    }




@media (max-width:800px) {

    .container-socialnet {
        width: 95%;
        height: auto;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        margin: 20px auto 5px;


        .container-photo {
            width: 95%;
            height: auto;
            margin: 10px auto 5px;

            img {
                width: 100%;
                border-radius: 10%;
            }
        }

        .container-icons {
            width: 100%;
            height: 80px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
        }

    }



    .icon1 {

        width: 40px;
        height: 40px;
        background-color: #3b5998;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: space-around;

        p {
            text-align: center;
        }

        .fa-facebook-f {
            @include socialIcons ();
        }
    }

    .icon2 {

        width: 40px;
        height: 40px;
        background-color: #55acee;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: space-around;

        p {
            text-align: center;
        }

        .fa-twitter {
            @include socialIcons ();

        }
    }

    .icon3 {

        width: 40px;
        height: 40px;
        background-color: #dd4b39;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: space-around;


        p {
            text-align: center;
        }

        .fa-google-plus-g {
            @include socialIcons ();

        }
    }

    .icon4 {

        width: 40px;
        height: 40px;
        background-color: #8f6247;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: space-around;


        p {
            text-align: center;
        }

        .fa-instagram {
            @include socialIcons ();

        }
    }

    .icon5 {

        width: 40px;
        height: 40px;
        background-color: #cb2027;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: space-around;


        p {
            text-align: center;
        }

        .fa-pinterest-p {
            @include socialIcons ();

        }

    }


}
footer{
    
    margin: auto;
    align-content: center;
    width: 90%;
    height: auto;
    border-bottom: grey solid 1px;
  .flista{
     padding-inline-start: 0px;
     display: flex;
     justify-content: space-between;
     .itlist{
        // font: 1rem;
         list-style-type: none;
         .links{        
         color: grey;    
         font-family:"IBM Plex Mono", monospace;
         text-decoration: none;
         }
     }
    }
    .arrow{
     display: none;
     }
     @media (max-width: 600px) {
         .hide{
         display: none;
         }
         .arrow{
             padding-inline-start: 0px;
             text-decoration: none;
             display: flex;
             justify-content: center;
            
           
             color: salmon;
         }
 
     }
     
 }
 header{
    margin-bottom: 0%;
    
    height: auto;
    display: flex;
    flex-direction: column;
    padding-left: 25%;
    padding-right: 25%;
   


    h1.tit{
        font-family: "Indie Flower", cursive;
        text-align: center;
        color: salmon;
    }



    ul.nav{
        display: flex;
        padding-inline-start: none;
        justify-content: space-between;
        .item{
            list-style-type: none;
            &:first-child{
                color: salmon;
                }
            .link{        
                font-family: "IBM Plex Mono", monospace;
                text-decoration: none;
                color: grey;
                &:hover{
                    color: salmon;
                    }
                }
            }
    }
    ul.navmob{
        display: none;
        padding-inline-start: none;
    }
     
    .dropdown-container {
        position: relative;
        
       
        .link {
             // PRIMER HIJO CON CLASE link DENTRO DEL .dropdown-container
             &:first-child {
                 display: inline-block; // PARA QUE CREZCA EN BASE A SU CONTENIDO
                }
        }
            .dropdown-content {
                // AL PRINCIPIO NO LO MOSTRAMOS
                display: none;
                position: absolute;
               
                 // SIN ESTO EL CONTENIDO QUE SIGUE SE DESPLAZARIA
            }
            &:hover .dropdown-content {
                display: block; 
                margin-right: 250px;// CUANDO .dropdown-container TIENE HOVER LE CAMBIAMOS EL ESTILO AL .dropdown-content
            }
    }
        .dropdown-content {
            z-index: 8;
            
            .dropdown-item{
                list-style-type: none;
                text-align: center;
                background-color: seashell;
                
                .link {
                    width: 100%;
                }
            }
        }
    @media (max-width: 600px) {
        ul.nav{
            display: none;
        }
        ul.navmob{
            display: flex;
            padding-inline-start: none;
            justify-content: space-between;
            border-radius: 5px;
            //display: block;
            //justify-content: center;
            
            background-color: salmon;
            
            .item{
                list-style-type: none;
                margin: auto;
                //

                
            
                .link{        
                    font-family: "IBM Plex Mono", monospace;
                    text-decoration: none;
                    background-color: salmon;
                    color: black;
                   
                    &:hover{
                        color: black;
                        }
                    }
                }
                        .dropdown-container {
                            position: relative;
                            
                            
                            .link {
                                 // PRIMER HIJO CON CLASE link DENTRO DEL .dropdown-container
                                 &:first-child {
                                     display: inline-block; 
                                     // PARA QUE CREZCA EN BASE A SU CONTENIDO
                                    }
                            }
                                .dropdown-content {
                                    // AL PRINCIPIO NO LO MOSTRAMOS
                                    display: none;
                                    position: absolute; 
                                    padding: 0;
                                    left: -59%;
                                    // SIN ESTO EL CONTENIDO QUE SIGUE SE DESPLAZARIA
                                }
                                &:hover .dropdown-content {
                                    display: block;
                                     // CUANDO .dropdown-container TIENE HOVER LE CAMBIAMOS EL ESTILO AL .dropdown-content
                                }
                       
                            
                                .dropdown-content {
                                .dropdown-item{
                                    list-style-type: none;
                                
                                    justify-content: flex-start;
                                    
                                   
                                    
                                    .link {
                                        padding-left: 1rem;
                                        padding-right: 1rem;
                                        color: white;
                                        width: 100%;
                                    }
                                }
                            }
                        }
        }
        

    }

}